
# python cache files
*.pyc

# Ignore environment variable files
*.env
*.env.local

# vs code config files
*.code-workspace
.vscode/*   

# random directories for testing
nexus-ai-os/*
# aios/*
opencode/*
claude-code/*

# Ignore all ISO files (iso files will be artifacts of the build process and should not be committed to the repository)
*.iso
*.zip